:root {
  --cool-blue: #3b5998;

  background-color: #fff;
  color: #333;
  font-family: Helvetica, sans-serif;
  font-size: 17px;
  line-height: 1.6;
  background-size: 300px 300px;
  background-position: 0 0;
  background-image: url('/background.png');
}

.measure-phrase {
  max-width: 22em;
}

.cool-blue {
  color: var(--cool-blue);
}
