:root {
  --cool-blue: #3b5998;

  background-color: #fff;
  color: #333;
  font-family: Palatino, serif;
  font-size: 19px;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  background-size: 300px 300px;
  background-position: 0 0;
  background-image: url('/background.png');
}

.measure-phrase {
  max-width: 26em;
}

.cool-blue {
  color: var(--cool-blue);
}
